/* -------------------> SETUP <------------------- */
:root{
    --blackBlue: #162A43;
    --lightBlue: #0D4BF4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "SUPSIFedraDemi", serif;
    font-size: 16px;
    background-color: var(--lightBlue);
    color: white;
}

/* -------------------> HEADER <------------------- */

header{
    display: flex;
    background-color: var(--blackBlue);
    padding: 0.5rem 2.8125rem;
}

header h1{
    font-family: "SUPSIFedraMedium", serif;
    margin-right: 15vw;
}

header h1 span{
    font-family: "SUPSIFedraLight", serif;
}

header div p{
    font-size: 0.6rem;
    text-align: left;
}

header img{
    width: auto;
    height: 1.7rem;
    margin-left: 0;
    margin-right: auto;
    display: block;
}

#aboutBtn {
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
}

/* -------------------> SETUP <------------------- */
.setup{
    width: 100%;
}

/* -------------------> SETTINGS <------------------- */
.settings{
    font-family: "SUPSIFedraLight", sans-serif;
    display: inline-block;
    width: 80%;
    padding: 0.5rem 2.8125rem;
}

.setTitle{
    font-size: 0.8rem;
    margin-top: 5vh;
}

.settings .input h2{
    display: inline-block;
    font-size: 4rem;
    margin-top: 4vh;
}

.inputSide{
    display: inline-block;
}

.settings .input button:first-of-type{
    margin-left: 12vw;
}

.settings .input button{
    position: relative;
    bottom: 10px;
    display: inline-block;
    padding: 0.5rem 2rem;
    border: white 2px solid;
    border-radius: 4rem;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.settings .input button:hover{
    background-color: white;
    color: var(--lightBlue);
    cursor: pointer;
}

.settings input{
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    width: 35vw;
    margin-left: 5vw;
    opacity: 0.4;
}

.settings input::placeholder{
    color: white;
}

.additionalPlaceholder{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
    opacity: 1;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type="number"]:invalid {
    text-decoration: line-through;
}

input:not(:placeholder-shown) {
    opacity: 1;
}

input:not(:placeholder-shown) + .additionalPlaceholder{
    display: inline-block;
    position: relative;
    left: -29vw;
}

input:valid + .additionalPlaceholder {
    display: none;
}

.unit{
    display: none;
}

input:not(:placeholder-shown) ~ .unit{
    display: inline-block;
    position: relative;
    left: -12vw;
}

#startBtn{
    margin-top: 25vh;
    display: block;
    font-size: 2rem;
    border: white 2px solid;
    border-radius: 4rem;
    cursor: pointer;
    padding: 0.5rem 4rem;
    width: fit-content;
}

#startBtn:hover{
    background-color: white;
    color: var(--lightBlue);
}

/* -------------------> RESULT <------------------- */
.result{
    position: fixed;
    top: 10vh;
    right: -1vw;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.result img{
    position: absolute;
    height: 85vh;
    width: auto;
}

#humanMan{
    display: none;
    position: relative;
    right: -8vw;
}

#humanWoman{
    display: none;
    position: relative;
    right: -10vw;
}