/* -------------------> SETUP <------------------- */
:root{
    --blackBlue: #162A43;
    --lightBlue: #0D4BF4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "SUPSIFedraDemi", serif;
    font-size: 16px;
    background-color: var(--lightBlue);
    color: white;
}

/* -------------------> HEADER <------------------- */

header{
    display: flex;
    background-color: var(--blackBlue);
    padding: 0.5rem 2.8125rem;
    z-index: 2;
}

header h1{
    font-family: "SUPSIFedraMedium", serif;
    margin-right: 15vw;
    margin-top: auto;
    margin-bottom: auto;
}

header h1 span{
    font-family: "SUPSIFedraLight", serif;
}

header div p{
    font-size: 0.6em;
    text-align: left;
}

header img{
    width: auto;
    height: 1.7rem;
    margin-left: 0;
    margin-right: auto;
    display: block;
}

#aboutBtn {
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5em;
    text-decoration: underline;
    cursor: pointer;
}

/* -------------------> ABOUT <------------------- */
.about{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--blackBlue);
    color: white;
    z-index: 2;
    flex-wrap: wrap;
}

#closingBtn{
    position: absolute;
    top: 1.5vh;
    right: 2.8125rem;
    font-size: 1.5em;
    cursor: pointer;
    border: 1.5px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: "SUPSIFedraLight", sans-serif;
}

.information{
    padding: 2.8125rem;
}

.information h2{
    font-family: "SUPSIFedraBold", sans-serif;
    font-size: 5em;
    text-transform: uppercase;
}

.aboutParagraph{
    font-family: "SUPSIFedraBold", sans-serif;
    font-size: 1.5em;
    margin-top: 5vh;
    margin-bottom: 15vh;
}

.infoBody{
    display: flex;
    width: 100%;
    gap: 20px;
}

.infoColumn{
    display: flex;
    box-sizing: border-box;
    padding-top: 1vh;
}

.infoColumn h3{
    display: block;
    width: 20%;
    box-sizing: border-box;
    font-family: "SUPSIFedraMedium", sans-serif;
    font-size: 0.8em;
}

.infoColumn p{
    display: block;
    width: 80%;
    font-size: 1.3em;
    font-family: "SUPSIFedraBook", sans-serif;
}

.columnPlus{
    width: 80%;
}

.lineDivider{
    border-top: 1px solid white;
    width: 100%;
}

.infoRow{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1vh;
    margin-top: 10vh;
}

.infoRow h3{
    display: block;
    width: 10%;
    box-sizing: border-box;
    font-family: "SUPSIFedraMedium", sans-serif;
    font-size: 0.8em;
}

.infoRow p{
    display: block;
    width: 90%;
    font-size: 1.3em;
    font-family: "SUPSIFedraBook", sans-serif;
}

/* -------------------> SETUP <------------------- */
.setup{
    width: 100%;
}

/* -------------------> SETTINGS <------------------- */
.settings{
    font-family: "SUPSIFedraLight", sans-serif;
    display: inline-block;
    width: 80%;
    padding: 0.5rem 2.8125rem;
}

.setTitle{
    font-size: 1em;
    margin-top: 5vh;
}

.settings .input h2{
    display: inline-block;
    font-size: 5em;
    font-weight: 100;
    letter-spacing: -3px;
}

.inputSide{
    display: inline-block;
}

.settings .input button:first-of-type{
    margin-left: 12vw;
}

.settings .input button{
    font-family: "SUPSIFedraDemi", sans-serif;
    font-size: 2.4em;
    position: relative;
    bottom: 10px;
    display: inline-block;
    padding: 0.1rem 0rem;
    border: white 4px solid;
    border-radius: 4rem;
    background-color: transparent;
    color: white;
    margin-left: 20px;
    height: fit-content;
    margin-top: 2vh;
    text-transform: uppercase;
    width: 18vw;
}

.settings .input button:hover{
    background-color: white;
    color: var(--lightBlue);
    cursor: pointer;
}

.btnClicked{
    background-color: white !important;
    color: var(--lightBlue) !important;
}

.input{
    display: flex;
    margin-top: 2vh;
}

.settings input{
    font-family: "SUPSIFedraDemi", sans-serif;
    font-size: 2.4em;
    font-variant-numeric: lining-nums;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    width: 42vw;
    margin-left: 5vw;
    opacity: 0.4;
    margin-top: 2.5vh;
}

.settings input::placeholder{
    color: white;
}

.additionalPlaceholder{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
    opacity: 1;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type="number"]:invalid {
    text-decoration: line-through;
}

input:not(:placeholder-shown) {
    opacity: 1;
}

input:not(:placeholder-shown) + .additionalPlaceholder{
    display: inline-block;
    position: relative;
    left: -42vw;
}

input:valid + .additionalPlaceholder {
    display: none;
}

.unit{
    font-family: "SUPSIFedraDemi", sans-serif;
    font-size: 2.4em;
    display: inline-block;
    position: relative;
    left: -18vw;
    font-size: 2em;
}

input:placeholder-shown ~ .unit{
    display: none;
}

input:invalid ~ .unit{
    display: none;
}

#bmiResult{
    font-family: "SUPSIFedraDemi", sans-serif;
    font-size: 1.5em;
    display: none;
    margin-left: 5vw;
    margin-top: 2vh;
    width: 42vw;
    border-bottom: 2px solid white;
    text-align: center;
    text-transform: uppercase;
}

#bmiName{
    font-size: 2.4rem;
    text-transform: capitalize;
    margin-right: 15px;
}

#bmiNr{
    font-size: 1.5rem;
    font-variant-numeric: lining-nums;
}

#startBtn{
    font-family: "SUPSIFedraDemi", sans-serif;
    margin-top: 30vh;
    display: block;
    font-size: 2em;
    border: white 4px solid;
    border-radius: 4rem;
    cursor: pointer;
    padding: 0.5rem 4rem;
    width: fit-content;
}

#startBtn:hover{
    background-color: white;
    color: var(--lightBlue);
}

/* -------------------> RESULT <------------------- */
.result{
    position: fixed;
    top: 10vh;
    right: -1vw;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.result img{
    position: absolute;
    height: 85vh;
    width: auto;
    z-index: 1;
}

#humanMan{
    display: none;
    position: relative;
    right: -4vw;
}

#humanWoman{
    display: none;
    position: relative;
    right: -4vw;
}

/* -------------------> TABLET <------------------- */
@media (max-width: 1200px) and (min-width: 700px) {
    body{
        font-size: 14px;
    }

    .setTitle{
        font-size: 1.5em;
    }

    .settings{
        font-size: 12px;
    }

    #humanMan{
        right: 5vw;
    }
    
    #humanWoman{
        right: 3vw;
    }
}

@media (max-width: 1200px) and (orientation: landscape) and (min-width: 700px) {
    #humanMan{
        right: -2vw;
    }
    
    #humanWoman{
        right: -3vw;
    }
}


/* -------------------> MOBILE <------------------- */
@media (max-width: 1000px) {
    body{
        font-size: 14px;
    }

    header p, header img{
        display: none;
    }

    .information p{
        width: 100%;
    }

    #aboutBtn{
        display: inline-block;
    }

    #closingBtn{
        font-size: 2em;
    }

    .about{
        font-size: 10px;
        height: max-content;
        min-height: 100vh;
    }

    .aboutParagraph{
        margin-bottom: 5vh;
    }

    .infoRow{
        margin-top: 5vh;
    }

    .infoBody{
        flex-direction: column;
        gap: 20px;
    }

    .infoRow h3{
        width: 20%;
    }

    .infoRow p{
        width: 80%;
    }

    header{
        padding: 0.5rem 1.5rem;
    }

    #closingBtn{
        right: 1.5rem;
    }

    .setTitle{
        margin-top: 3vh;
    }

    .settings{
        padding: 0.5rem 1.5rem;
    }

    .input{
        display: block;
    }

    .settings .input h2{
        display: block;
        margin-top: 2vh;
        font-size: 3em;
        letter-spacing: -1px;
    }

    .settings .input button:first-of-type {
        margin-left: 0vw;
    }

    .settings .input button{
        padding: 0.3rem 0rem;
        font-size: 1.4em;
        margin-top: 1vh;
        width: 32vw;
        border-width: 2px;
    }

    .settings .input input{
        margin-top: 1vh;
        margin-left: 0;
        width: 70vw;
        font-size: 1.4em;
    }

    .settings .input input::placeholder{
        text-align: left;
    }

    .unit{
        font-size: 1.4em;
    }
    
    #bmiName{
        font-size: 1.4em;
        margin-right: 5px;
    }
    
    #bmiNr{
        font-size: 0.8em;
    }

    #bmiResult{
        width: 70vw;
        margin-left: 0;

        font-size: 0.8em;
    }

    #startBtn{
        margin-top: 15vh;
        font-size: 1.4em;
        padding: 0.5rem 1.5rem;
        border-width: 2px;
    }

    .result img{
        height: 75vh;
    }

    input:not(:placeholder-shown) + .additionalPlaceholder {
        display: none;
    }

    #humanMan{
        right: 10vw;
    }
    
    #humanWoman{
        right: 5vw;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    body{
        font-size: 10px;
    }

    .result img{
        margin-top: 2vh;
        height: 73vh;
    }

    .settings .input button{
        margin-top: 3vh;
        border-width: 2px;
    }

    .settings .input input{
        width: 70vw;
    }

    input:not(:placeholder-shown) + .additionalPlaceholder {
        display: none;
    }

    #humanMan{
        right: -3vw;
    }
    
    #humanWoman{
        right: -4vw;
    }
}