/* -------------------> SETUP <------------------- */
:root{
    --blackBlue: #162A43;
    --lightBlue: #0D4BF4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SUPSIFedraDemi", serif;
    font-size: 14px;
    background-color: white;
    color: var(--lightBlue);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    /*overflow: hidden;*/
    flex-wrap: nowrap;
    -webkit-user-select:none;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    user-select:none
}

/* -------------------> HEADER <------------------- */

header{
    display: flex;
    width: 100vw;
    height: fit-content;
    background-color: var(--blackBlue);
    padding: 0.5rem 2.8125rem;
    z-index: 2;
    color: white;
    box-sizing: border-box;
}

header h1{
    font-family: "SUPSIFedraMedium", serif;
    margin-right: 15vw;
    margin-top: auto;
    margin-bottom: auto;
}

header h1 span{
    font-family: "SUPSIFedraLight", serif;
}

header div p{
    font-size: 0.6em;
    text-align: left;
}

header img{
    width: auto;
    height: 1.7rem;
    margin-left: 0;
    margin-right: auto;
    display: block;
}

#aboutBtn {
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5em;
    text-decoration: underline;
    cursor: pointer;
}

/* -------------------> ABOUT <------------------- */
.about{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--blackBlue);
    color: white;
    z-index: 2;
}

#closingBtn{
    position: absolute;
    top: 1.5vh;
    right: 2.8125rem;
    font-size: 1.5em;
    text-decoration: underline;
    cursor: pointer;
}

.information{
    padding: 2.8125rem;
}

.information p{
    font-family: "SUPSIFedraLight", sans-serif;
    font-size: 1.5em;
    margin-top: 2vh;
    width: 60%;
}

.information h2{
    margin-top: 5vh;
}

/* -------------------> DATA BAR <------------------- */
.data{
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: fit-content;
    background-color: var(--lightBlue);
    padding: 0.5rem 2.8125rem;
    color: white;
    align-items: center;
}

.data p{
    display: inline-block;
    font-size: .9em;
}

.data p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.incomingData{
    margin-left: auto;
    margin-right: 0;
}

.incomingData p{
    font-size: 1.5em;
}

.incomingData p:hover{
    cursor: default;
    text-decoration: none;
}

#infoBtn{
    border: 3px solid white;
    border-radius: 50%;
    padding: .2rem 0;
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}

#infoBtn:hover{
    cursor: pointer;
    background-color: white;
    color: var(--lightBlue);
}

/* -------------------> TOOL <------------------- */
.tool{
    display: flex;
    flex-grow: 1;
}

.settings{
    width: 50%;
    height: 100%;
    border-right: 2px solid var(--lightBlue);
}

.movement{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: calc(calc(100% / 13) * 3);
    border-bottom: 2px solid var(--lightBlue);
    padding: 0.5rem 0 0.5rem 2.8125rem;
    box-sizing: border-box;
}

.movement p{
    font-size: 0.8em;
    margin-top: 1vh;
}

.movement h2{
    font-family: "SUPSIFedraBold", sans-serif;
    font-size: 5em;
    text-transform: uppercase;
}

.movement svg{
    margin-left: auto;
    margin-right: 0;
    height: 100%;
}

.movement svg:hover{
    cursor: pointer;
}

#playBtn{
    display: none;
}

#pauseBtn{
    display: block;
}

.rowTitle{
    width: 50%;
    padding: 1rem 2.8125rem;
    box-sizing: border-box;
    font-family: "SUPSIFedraLight", sans-serif;
    font-size: 1.5em;
    align-self: center;
}

.repetitions{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: calc(calc(100% / 13) * 1);
    border-bottom: 2px solid var(--lightBlue);
}

.controls{
    border-left: 2px solid var(--lightBlue);
    display: flex;
    width: 50%;
    align-items: center;
}

.controls p{
    display: inline-block;
}

.calcSimbol{
    font-size: 1.5em;
    border: 2px solid var(--lightBlue);
    border-radius: 50%;
    padding: 0.25rem 0;
    line-height: 1;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
}

.plus{
    margin-left: auto;
    margin-right: 20px;
}

.min{
    margin-left: 20px;
    margin-right: auto;
}

.calcSimbol:hover{
    cursor: pointer;
    background-color: var(--lightBlue);
    color: white;
}

.selectedVal{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.controlVal{
    font-size: 2.5em;
}

.numberUnit{
    text-transform: uppercase;
    font-size: .9em;
}

.dumbell{
    width: 100%;
    overflow: hidden;
    height: calc(calc(100% / 13) * 2);
    border-bottom: 2px solid var(--lightBlue);
}

.dumbellWeight{
    display: flex;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid var(--lightBlue);
}

.dumbellPosition{
    display: flex;
    width: 100%;
    height: 50%;
}

.jointConstraints{
    width: 100%;
    overflow: hidden;
    height: calc(calc(100% / 13) * 3);
    border-bottom: 1px solid var(--lightBlue);
}

.hipConstraints{
    display: flex;
    width: 100%;
    height: calc(100% / 3);
    border-bottom: 2px solid var(--lightBlue);
}

.kneeConstraints{
    display: flex;
    width: 100%;
    height: calc(100% / 3);
    border-bottom: 2px solid var(--lightBlue);
}

.ankleConstraints{
    display: flex;
    width: 100%;
    height: calc(100% / 3);
    border-bottom: 1px solid var(--lightBlue);
}

.slider{
    width: 80%;
    margin: auto auto 10px auto;
}

#ankleSlider, #kneeSlider, #hipSlider{
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
    border: 0;
}

.slider .noUi-connect {
    background: var(--lightBlue);
    opacity: 40%;
}

.slider .noUi-marker {
    background: var(--lightBlue);
}

.slider .noUi-handle{
    width: 4px !important;
    height: 25px !important;
    right: -2px !important;
    top: -7px !important;
    border: 2px solid var(--lightBlue);
    background-color: var(--lightBlue);
    box-shadow: none;
}

.slider .noUi-handle:after{
    display: none !important;
}

.slider .noUi-handle:before{
    display: none !important;
}

.slider .noUi-tooltip{
    border-radius: 10px;
    border: 0px;
    background-color: var(--lightBlue);
    font-size: 0.8rem;
    color: white;
    bottom: 100% !important;
}

.slider .noUi-pips.noUi-pips-horizontal{
    rotate: 180deg;
    top: -52px;
    color: var(--lightBlue);
}

.slider .noUi-value.noUi-value-horizontal.noUi-value-large{
    display: none;
}

.infoSliderBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBlue);
    color: white;
    height: 100%;
    width: 30px;
    font-size: 0.9rem;
}

.infoSliderBtn p{
    transform: rotate(90deg);
    font-size: 1rem;
}

.infoSliderBtn:hover{
    cursor: pointer;
    background-color: white;
    color: var(--lightBlue);
    border-left: 2px solid var(--lightBlue);
}

.graph{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: calc(calc(100% / 13) * 4);
    box-sizing: border-box;
}

.monitorGraph{
    box-sizing: border-box;
    width: 50%;
}

.monitorGraph p{
    font-size: 1.3em;
    padding: 0.5rem 2.8125rem;
}

.graphCheck{
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0 0.5rem 2.8125rem;
    border-bottom: 1px solid var(--lightBlue);
}

input[type="checkbox"]{
    display: none;
}

label:first-of-type{
    margin-right: 1em;
}

label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .8em;
    height: .8em;
    border: 2px solid var(--lightBlue);
    background-color: white;
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
}

label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

.displayGraph{
    border-left: 2px solid var(--lightBlue);
    width: 50%;
}

.result{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.result canvas{
    display: flex;
    width: 60%;
    height: auto;
    margin: auto;
}

.comViz{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3%;
    background-color: var(--lightBlue);
    color: white;
    align-self: flex-end;
}

.comViz label{
    margin-left: 1rem;
    padding-left: 40px;
}

.comViz label::before {
    border: 2px solid white;
    background-color: var(--lightBlue);
}

.comViz input[type="checkbox"]:checked + label::before {
    background-color: white;
    border-color: white;
}

.comViz label::after {
    border: solid var(--lightBlue);
    border-width: 0 2px 2px 0;
}

.comBar{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    border: dashed white;
    border-width: 0 2px 0 2px;
    margin-left: 1cap;
}

#comBall{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #BFFF00;
    border-radius: 50%;
    margin-left: calc(50% - calc(1.5rem / 2));
}

.mobileSettings{
    display: none;
}

/* -------------------> LARGE SCREENS <------------------- */
@media (min-width: 2000px) {
    body{
        font-size: 22px;
    }

    .movement svg{
        height: 10vw;
    }
}

/* -------------------> TABLET <------------------- */
@media (max-width: 1200px) {
    body{
        font-size: 12px;
    }

    .movement svg{
        height: 10vw;
    }

    .slider{
        width: 70%;
    }
}

/* -------------------> MOBILE <------------------- */
@media (max-width: 1000px) {
    body{
        font-size: 10px;
    }

    header p, header img{
        display: none;
    }

    .information p{
        width: 100%;
    }

    #infoBtn{
        display: none;
    }

    #aboutBtn{
        display: inline-block;
    }

    .about{
        height: max-content;
    }

    header{
        padding: 0.5rem 1.5rem;
    }

    #closingBtn{
        right: 1.5rem;
    }

    .data{
        padding: 0.5rem 1.5rem;
    }

    .incomingData p{
        text-decoration: underline;
    }
    
    .tool{
        flex-direction: column;
        flex-grow: 0;
    }
    .settings{
        width: 100%;
        border-right: none;
        height: fit-content;
    }

    .movement{
        height: fit-content;
        padding: 0.5rem 1.5rem;
    }

    .movement p{
        display: none;
    }

    .movement svg{
        height: 6em;
    }

    .repetitions{
        display: none;
    }

    .dumbell{
        display: none;
    }

    .jointConstraints{
        display: none;
    }

    .graph{
        display: none;
    }

    .result{
        width: 100%;
        height: 60vh;
    }

    .result canvas{
        height: 80%;
        width: auto;
    }

    .comViz{
        height: 8%;
        font-size: 1.5em;
    }

    .mobileSettings{
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-grow: 1;
    }

    .mobileSettings .navBar{
        display: flex;
        width: 100%;
        height: 10vh;
        border-bottom: 2px solid var(--lightBlue);
    }

    .navBar button{
        width: calc(100% / 4);
        height: 100%;
        border-radius: 0;
        border-right: 2px solid;
        border-color: var(--lightBlue);
        background-color: white;
        color: var(--lightBlue);
    }

    .navBar button:last-of-type{
        border-right: none;
    }

    .active svg.iconBtn {
        fill: white;
    }

    svg.iconBtn {
        width: 100%;
        height: 100%;
        fill: var(--lightBlue);
    }

    #repBtn svg.iconBtn{
        width: 50%;
        height: 50%;
    }

    .navBar .active{
        background-color: var(--lightBlue);
        border: 2px solid var(--lightBlue);
    }

    .rowTitle{
        width: 100%;
        padding: 0.5rem 1.5rem 0 1.5rem;
        text-align: center;
        font-family: "SUPSIFedraMedium", sans-serif;
    }

    .controls{
        border: 0;
        width: 100%;
        padding: 0 1.5rem;
        font-size: 1.5em;
    }

    .min {
        margin-left: 0;
    }

    .plus {
        margin-right: 0;
    }

    .mobileSettings .settingActive{
        display: block;
        font-size: 1.2em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mobileSettings .settingInactive{
        display: none;
    }

    #dumbellMobile .dumbellWeight{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #dumbellMobile .dumbellPosition{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #jointConstraintsMobile .hipConstraints{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
    }

    #jointConstraintsMobile .kneeConstraints{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
    }

    #jointConstraintsMobile .ankleConstraints{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
    }

    .ankleConstraints{
        border-bottom: 0px;
    }

    .sliderMobile{
        width: 80%;
    }

    #ankleSliderMobile, #kneeSliderMobile, #hipSliderMobile{
        background-color: white;
        border-radius: 0px;
        box-shadow: none;
        border: 0;
    }

    .controls .infoSliderBtn{
        height: 10vh;
    }

    .monitorGraph{
        width: 100%;
        font-size: 1.4em;
    }

    .displayGraph{
        width: 100%;
        border: 0;
    }
}

/* @media (max-width: 750px){
    .result canvas{
        width: 80%;
    }
} */

@media (max-width: 750px) and (orientation: landscape) {
    .result canvas{
        height: 70%;
        width: auto;
    }
}